<html>
<head>
	<style type="text/css">

		.auto-style1 {
			text-decoration: underline;
		}

		.auto-style2 {
			text-align: center;
		}

		.auto-style3 {
			width: 340px;
			height: 273px;
		}

		.auto-style5 {
			text-align: center;
			height: 120px;
		}
		.auto-style6 {
			font-size: x-large;
		}
		.auto-style7 {
			font-size: medium;
		}
		.auto-style8 {
			text-align: center;
			height: 120px;
			font-size: medium;
			font-family: 標楷體;
			width: 57px;
		}
		.auto-style9 {
			font-size: medium;
			font-family: 標楷體;
		}
		.auto-style10 {
			text-align: center;
			height: 120px;
			width: 57px;
		}
		.auto-style11 {
			text-align: center;
			width: 57px;
		}
		.auto-style12 {
			text-align: center;
			height: 120px;
			width: 103px;
		}
		.auto-style13 {
			text-align: center;
			width: 103px;
		}
	</style>
</head>

<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style2">
		<span class="auto-style1">
			<font color="#FF0000" face="標楷體"><span class="auto-style6">異常事件執行表</span></font>
		</span>
		<br />
	</div>
	<table style="background-color: white;" border="1" align="center" class="auto-style3">
		<tr>
			<th class="auto-style8">
				<font face="標楷體" size="5" class="auto-style7">
					異常<br />
					時間
				</font>
			</th>
			<th class="auto-style10">
				<font face="標楷體" size="5" class="auto-style7">
					服務<br />
					人員<br />
					姓名
				</font>
			</th>
			<th class="auto-style12">
				<font face="標楷體"><span class="auto-style7">事件描述</span></font><span class="auto-style9"> </span>
			</th>

			<th class="auto-style5">
				<font face="標楷體"><span class="auto-style7">執行</span></font><span class="auto-style9"> </span>
			</th>
			<th class="auto-style5">
				<font face="標楷體"><span class="auto-style7">追蹤</span></font><span class="auto-style9"> </span>
			</th>
		</tr>
		<tr>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style13">
				自動帶入
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_execution", "Home")
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_tracking", "Home")
			</td>
		</tr>
		<tr>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style13">
				自動帶入
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_execution", "Home")
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_tracking", "Home")
			</td>
		</tr>
		<tr>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style13">
				自動帶入
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_execution", "Home")
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_tracking", "Home")
			</td>
		</tr>
		<tr>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style11">
				自動帶入
			</td>
			<td class="auto-style13">
				自動帶入
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_execution", "Home")
			</td>
			<td bgcolor="#5772EE" class="auto-style2">
				@Html.ActionLink("1", "Abnormal_event_tracking", "Home")
			</td>
		</tr>
	</table>
</body>
</html>
