<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family:標楷體;
			text-align: center;
		}

		.auto-style2 {
			font-family: 標楷體;
			width: 330px;
			height: 71px;
		}

		.auto-style3 {
			font-family: 標楷體;
			font-size: medium;
		}

		.auto-style4 {
			font-family: 標楷體;
			width: 38px;
			height: 26px;
		}

		.auto-style5 {
			font-family: 標楷體;
			text-align: right;
		}

		.auto-style6 {
			color:#FFFFFF;
			font-family: 標楷體;
			width: 200px;
		}

		.auto-style8 {
			font-family: 標楷體;
			text-align: left;
		}

		.auto-style9 {
			width: 200px;
			height: 200px;
		}
		.auto-style11 {
			font-family: 標楷體;
			font-size: small;
		}
		.auto-style12 {
			font-size: small;
		}
		.auto-style13 {
			font-size: x-small;
		}

		.auto-style14 {
			width: 358px;
		}

	</style>
</head>
<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<div class="auto-style1">
			<div style="background-color:#FF5F5F;" class="auto-style8">
				&nbsp;
				<input type="image" src="~/images/轉場符號-粉紅.png" onclick="location.href='@Url.Action("Transitions", "Home")'" /><Font color="#FFFFFF" size="5" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每日照顧紀錄
				</Font>
			</div>
		</div>
		<br />
		<table align="center" class="auto-style2">
			<tr>
				<td bgcolor="#F5F5F5" align="right" valign="center" class="auto-style3">
					<font color="0000EB">個案姓名:林XX</font>
				</td>
				<td bgcolor="#F5F5F5" align="center" valign="center" class="auto-style3">
					<font color="0000EB" >服務日期 @DateTime.Now</font>
				</td>
			</tr>
			<tr>
				<td bgcolor="#F5F5F5" colspan="2" align="center" valign="center" class="auto-style3">
					<img src="../../images/服務人員icon.png" / ><font color="0000EB" >&nbsp;&nbsp; 服務人員:&nbsp;&nbsp; 黃阿花 </font>
				</td>
			</tr>
		</table>
		<br />
	</div>
	<table align="center" class="auto-style14">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				
				<font color="#FFFFFF" size="5"><span class="auto-style11">@Html.ActionLink("必選項目自立生活訓練", "Required_items_Home_attendant", "Home",new { @style="color:#FFFFFF;" })</span>&nbsp;<img src="../../images/必選項目.png" class="auto-style4" /></font>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA00').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA00" alt="自動帶入" class="auto-style9" />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				
				<font color="#FFFFFF" size="5"><span class="auto-style12">@Html.ActionLink("BA01基本身體清潔", "BA01", "Home",new { @style="color:#FFFFFF;" })&nbsp;</span><img src="../../images/基本身體清潔.png" class="auto-style4" /></font>
			</td>
			<td class="auto-style5">
				<font color="#0D62C3"><span class="auto-style13">應做23次>已做 X次</span></font>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA01').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA01" alt="自動帶入" class="auto-style9" />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				
				<font color="#FFFFFF" size="5"><span class="auto-style12">@Html.ActionLink("BA02基本日常照顧", "BA02", "Home",new {@style="color:#FFFFFF;" })</span>&nbsp;</a> <img src="../../images/基本日常照顧.png" class="auto-style4" /></font>
			</td>
			<td class="auto-style5">
				<font color="#0D62C3"><span class="auto-style13">應做23次>已做 X次</span></font>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA02').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA02" alt="自動帶入" class="auto-style9" />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				<font color="#FFFFFF"  size="5"><span class="auto-style12">@Html.ActionLink("BA03量測生命徵象", "BA03", "Home",new {@style="color:#FFFFFF;"})</span>&nbsp;<img src="../../images/測量生命徵象.png" class="auto-style4" /></font>
			</td>
			<td class="auto-style5">
				<font color="#0D62C3"><span class="auto-style13">應做23次>已做 X次</span></font>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA03').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA03" alt="自動帶入"class="auto-style9"  />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				<font color="#FFFFFF" size="5"><span class="auto-style12">@Html.ActionLink("BA04協助餵食或灌食", "BA04", "Home",new { @style="color:#FFFFFF;" })</span>&nbsp;<img src="../../images/協助沐浴及洗頭.png" class="auto-style4" /></font>
			</td>
			<td class="auto-style5">
				<font color="#0D62C3"><span class="auto-style13">應做23次>已做 X次</span></font>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA04').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA04" alt="自動帶入" class="auto-style9" />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				<font color="#FFFFFF" size="5"><span class="auto-style12">@Html.ActionLink("BA05餐食照顧", "BA05", "Home",new { @style="color:#FFFFFF;"})</span>&nbsp;<img src="../../images/餐食照顧.png" class="auto-style4" /></font>
			</td>
			<td class="auto-style5">
				<font color="#0D62C3"><span class="auto-style13">應做23次>已做 X次</span></font>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA05').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA05" alt="自動帶入" class="auto-style9" />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				<font color="#FFFFFF" size="5"><span class="auto-style12">@Html.ActionLink("BA07協助沐浴及洗頭", "BA07", "Home",new { @style="color:#FFFFFF;" })</span>&nbsp;<img src="../../images/協助沐浴及洗頭.png" class="auto-style4" /></font>
			</td>
			<td class="auto-style5">
				<font color="#0D62C3"><span class="auto-style13">應做23次>已做 X次</span></font>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA07').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA07" alt="自動帶入" class="auto-style9" />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<table align="center">
		<tr>
			<td bgcolor="#6679E3" class="auto-style6">
				<font color="#FFFFFF" size="5"><span class="auto-style12">@Html.ActionLink("BA08足部照護", "BA08", "Home",new { @style="color:#FFFFFF;" })</span>&nbsp;<img src="../../images/足部照護.png" class="auto-style4" /></font>
			</td>
			<td class="auto-style5">
				<font color="#0D62C3"><span class="auto-style13">應做23次>已做 X次</span></font>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="auto-style1">
				<input type="file" onchange="document.getElementById('BA08').src = window.URL.createObjectURL(this.files[0])">
				<img src="../../images/照片icon.png" id="BA08" alt="自動帶入" class="auto-style9" />
			</td>
		</tr>
	</table>
	<p>
		<br />
	</p>
	<div class="auto-style5">
		<br />
		<br />
		@Html.ActionLink("上一頁", "Home_attendant_index", "Home", new { @class = "btn btn-danger btn-lg" })
	</div>
</body>
</html>