
<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family:標楷體;
			text-align: center;
		}

		.auto-style2 {
			font-family:標楷體;
			width: 331px;
			height: 71px;
		}

		.auto-style3 {
			font-family:標楷體;
			font-size: medium;
		}

		.auto-style5 {
			font-family:標楷體;
			width: 357px;
			height: 100px;
		}

		.auto-style6 {
			font-family:標楷體;
			text-align: left;
		}

		.auto-style8 {
			font-family:標楷體;
			text-align: right;
		}
		.auto-style9 {
			font-family:標楷體;
			width: 58px;
		}
		.auto-style10 {
			font-family:標楷體;
			width: 58px;
			height: 36px;
		}
		.auto-style11 {
			font-family:標楷體;
			width: 342px;
			height: 84px;
		}
		.auto-style12 {
			font-family:標楷體;
			width: 125px;
			text-align: center;
		}
		.auto-style13 {
			font-family:標楷體;
			width: 90px;
			height: 30px;
		}
		.auto-style14 {
			font-family:標楷體;
			font-size: x-large;
		}
		textarea {
			resize : none;
		}
		.auto-style15 {
			font-family:標楷體;
			width:357px;
			height: 175px;
		}
		.font-face{
			font-family:標楷體;
			font-family:DFKai-sb;
		}
		
		.auto-style16 {
			font-family:標楷體;
			width: 20px;
			height: 19px;
		}
		
		.auto-style17 {
			font-family:標楷體;
			font-size: large;
		}
		
		.auto-style18 {
			width: 25px;
			height: 18px;
		}
		
	</style>
</head>
<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<div class="auto-style6">
			<div style="background-color:#FF5F5F;" class="auto-style6">
				&nbsp;
				<input type="image" src="../../images/轉場符號-粉紅.png" onclick="location.href=' @Url.Action("Transitions", "Home")'" class="auto-style18" />
				<Font color="#FFFFFF" face="標楷體" size="5">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="auto-style17">每次守護紀錄 </span>
				</Font>
			</div>
			<br />
			<table align="center" class="auto-style2">
				<tr>
					<td bgcolor="#F5F5F5" align="right" valign="center" class="auto-style3">
						<font color="0000EB" face="標楷體">個案姓名:林XX&nbsp;&nbsp; </font>
						&nbsp;
					</td>
					<td bgcolor="#F5F5F5" align="center" valign="center" class="auto-sxtyle3">
						<font color="0000EB" face="標楷體"><span class="auto-style3">服務日期 @DateTime.Now</span></font><span class="auto-style3"> </span>
					</td>
				</tr>
				<tr>
					<td bgcolor="#F5F5F5" colspan="2" align="center" valign="center" class="auto-style3">
						<img src="../../images/服務人員icon.png" / ><font color="0000EB" face="標楷體">&nbsp;&nbsp; 服務人員:&nbsp; 黃阿花 </font>
					</td>
				</tr>
			</table>
			<br />
			<br />
			<p class="auto-style6"><font color="#0000EB" face="標楷體"><strong><span class="auto-style17">生命跡象</span></strong></font><img src="../../images/聽診器icon.png" /></p>
			<table align="center" class="auto-style5">
				<tr>
					<td>
						<font color="#FF1493" size="4" face="標楷體"><span class="auto-style17">&nbsp; </span><span class="auto-style3">&nbsp; 體溫:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font> <input type="number" name="number" class="auto-style9" />
					</td>
					<td>
						<font color="#FF1493" face="標楷體"><span class="auto-style14">&nbsp; </span><span class="auto-style3">脈搏:</span><span class="auto-style14">&nbsp;&nbsp;&nbsp;&nbsp; </span></font>&nbsp;<input type="number" name="number" class="auto-style9" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<font color="#FF1493" face="標楷體"><span class="auto-style14">&nbsp; </span><span class="auto-style3">血壓:</span></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<input type="number" name="number" class="auto-style9" />&nbsp;&nbsp;&nbsp; &nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="number" name="number" class="auto-style9" />
					</td>
				</tr>
			</table>
			<p class="auto-style6"><font color="#0000EB" size="5" face="標楷體"><strong><span class="auto-style17">皮膚評估</span></strong><img src="../../images/評估icon.png" /></font></p>
			<div class="auto-style6">
				<font color="#FF1493" size="4" face="標楷體">
					&nbsp;&nbsp; <span class="auto-style3">是否出現傷口、壓傷瘀青等</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="location" value="是" class="auto-style16" /><span class="auto-style3">是</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="location" value="否" class="auto-style16" /><span class="auto-style3">否</span>
				</font>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="image" src="../../images/異常icon.png" class="auto-style10" onclick="location.href=' @Url.Action("Abnormal_skin", "Home")'" />
			<font color="#FF1493" size="4" face="標楷體">&nbsp; &nbsp;<span class="auto-style3">部位:</span></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<font color="#FF1493" face="標楷體"><span class="auto-style3">狀況:</span></font>
			<br />
			<br />
			<table class="auto-style11" align="center">
				<tr>
					<td class="auto-style12">
						<input type="image" src="../../images/疼痛評估.png" class="auto-style13" onclick="location.href='@Url.Action("Pain_assessment_Home_attendant", "Home")'" />
					</td>
					<td bgcolor="#FFFFFF" valign="top">
						<font face="標楷體" size="2">感覺到</font>
					</td>
				</tr>
			</table>
			<br />
			&nbsp;
			<input type="image" src="../../images/情緒評估.png" class="auto-style13" onclick="location.href=' @Url.Action("Emotional_assessment_Home_attendant", "Home")'" />
			<font color="#FF1493" size="4" face="標楷體">&nbsp;&nbsp;<span class="auto-style3">有時:</span></font><span class="auto-style3">&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<font color="#FF1493" face="標楷體"><span class="auto-style3">有時:</span></font>
			<br />
			<br />
			<br />
			<font color="#0000EB" size="5" face="標楷體"><strong><span class="auto-style17">服藥檢查</span></strong> <img src="../../images/評估icon.png" /></font>
			<font color="#FF1493" size="4" face="標楷體">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<br />
				&nbsp;<span class="auto-style3">有無增加藥</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="location1" value="無" class="auto-style16" /><span class="auto-style3">無</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="location1" value="有" class="auto-style16" /><span class="auto-style3">有</span><br />
				&nbsp;<span class="auto-style3">檢查藥袋藥數量 有無正常服藥</span><input type="radio" name="location2" value="無" class="auto-style16" /><span class="auto-style3">無</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="location2" value="有" class="auto-style16" /><span class="auto-style3">有</span><br />
			</font>
			<br />
			<font color="#0000EB" face="標楷體"><strong><span class="auto-style17">照顧交代/注意事項</span></strong></font>
			<br />
			<div class="wrap">
				<div class="auto-style8">
					關鍵字<input class="search-bar" type="text" name="search" id="search" placeholder="輸入">
					<input type="button" class="btn btn-primary btn-lg" value="搜尋" />
				</div>
				<br />
			</div>

		</div>
		<textarea class="auto-style15"></textarea>
		<br />
		<br />
		<br />
		<input type="submit" class="btn btn-primary btn-lg"  value="存檔"/>
		<div class="auto-style8">
			<br>
			<br />
			@Html.ActionLink("上一頁", "Home_attendant_index", "Home", new { @class = "btn btn-danger btn-lg" })
		</div>
	</div>
</body>
</html>