<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family:標楷體;
			text-align: center;
		}
		.auto-style2 {
			font-family: 標楷體;
		}
		.auto-style3 {
			font-family:標楷體;
			width: 172px;
			height: 53px;
		}
		.auto-style4 {
			font-family:標楷體;
			text-align: center;
			width: 154px;
			height: 41px;
		}
		.auto-style5 {
			font-family:標楷體;
			text-align: center;
			width: 179px;
			height: 49px;
		}
		.auto-style8 {
			text-align: center;
			width: 140px;
			height: 42px;
		}
		.auto-style9 {
			font-family:標楷體;
			text-align: center;
			width: 172px;
			height: 28px;
			font-size: x-large;
		}
		.auto-style10 {
			font-family:標楷體;
			text-align: center;
			width: 244px;
		}
		.auto-style11 {
			font-family:標楷體;
			font-size: large;
		}
		.auto-style12 {
			font-family:標楷體;
			text-align: center;
			font-size: large;
			width: 149px;
		}
		.auto-style14 {
			font-family:標楷體;
			text-align: right;
			width: 221px;
			height: 112px;
		}
		.auto-style16 {
			font-family: 標楷體;
			width: 347px;
			height: 41px;
			text-align: left;
			font-size: large;

		}
		.auto-style17 {
			text-align: center;
		}
		.auto-style18 {
			text-align: right;
		}
		.auto-style19 {
			font-family: 標楷體;
			font-size: medium;
		}
		.auto-style20 {
			font-family: 標楷體;
			text-align: center;
			width: 139px;
			height: 46px;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style17">
			<marquee direction="up" scrollamount="1" class="auto-style16"><font color="#ff0099">
				公告：8/18(六)辦理員工體檢，相關注意事項請查閱公告
			</font></marquee>
	</div>
		<p>
			<br />
		</p>
	<table align="center" class="auto-style1" face="標楷體">
		<tr>
			<td bgcolor="#F5F5F5" valign="center" class="auto-style12">
			<font color="0000EB"face="標楷體"><span class="auto-style19">個案姓名: XXX  </span></font><span class="auto-style19"> </span> 
			</td>
			<td bgcolor="#F5F5F5" align="center" valign="center" class="auto-style1">
				<font color="0000EB"face="標楷體"><span class="auto-style19">服務日期 @DateTime.Now </span></font><span class="auto-style19"> </span>
			</td>
		</tr>
		<tr>
			<td bgcolor="#F5F5F5" colspan="2" align="center" valign="center" class="auto-style1">
				<img src="../../images/服務人員icon.png" / class="auto-style11" ><font color="0000EB"face="標楷體"><span class="auto-style11">&nbsp;服務人員:黃阿花</span></font></td>
		</tr>
	</table>
		<p>
			<br />
		</p>
	<table   "height="80" align="center" class="auto-style2">
		<tr>
			<td class="auto-style10" bgcolor="#AE718A">
				<font color="FFFFFF"face="標楷體"><span class="auto-style9"><strong>警示須立即填報<br />
				</strong></span><br />
					<input type="image" src="../../images/異常事件通報.png" class="auto-style8" onclick="location.href='@Url.Action("Abnormal_events_reactions_Home_attendant", "Home")'" /></font>
				<br />
			</td>
		</tr>
	</table>
	<br />
	<table style="border:5px #7D7DFF " align="center" class="auto-style14">
		<tr>
			<td class="auto-style1" bgcolor="#C7C7C7">
				<font color="FFFFFF"face="標楷體"><span class="auto-style9"><strong>居服督導交辦<br />
				</strong></span><br />
					<input type="image" src="../../images/照顧交辦單檢視.png" class="auto-style4" onclick="location.href='@Url.Action("Take_care_of_page", "Home")'" /></font>
				<br />
			</td>
		</tr>
	</table>
	<br />
	<table style="border:5px #C6A300"  height="80" align="center" class="auto-style2">
		<tr>
			<td class="auto-style1" bgcolor="#C5C11B">
				<font color="FFFFFF"face="標楷體"><span class="auto-style9"><strong>每次例行<br />
				</strong></span><br />
				&nbsp;
				<input type="image" src="../../images/每次守護紀錄.png" class="auto-style20" onclick="location.href='@Url.Action("Every_guardian_the_record", "Home")'" />&nbsp;&nbsp;
				<input type="image" src="../../images/每次照顧紀錄.png" class="auto-style20" onclick="location.href='@Url.Action("Daily_care_record_Home_attendant", "Home")'" />&nbsp;&nbsp;<br />
&nbsp;<br />
&nbsp;
				<input type="image" src="../../images/異常事件執行.png" class="auto-style20" onclick="location.href='@Url.Action("Abnormal_event_execution_table", "Home")'" />&nbsp;&nbsp;
				<input type="image" src="../../images/家屬照顧日誌.png" class="auto-style20" onclick="location.href='@Url.Action("Family_care_records", "Home")'" />&nbsp;&nbsp;
			</td>
		</tr>
	</table>
	<br />
	<table align="center" class="auto-style14">
		<tr>
			<td class="auto-style1" bgcolor="#7CCCFF">
				<font color="FFFFFF"face="標楷體"><span class="auto-style9"><strong>每月例行<br />
				</strong></span><br />
					<input type="image" src="../../images/每月守護紀錄.png" class="auto-style5" onclick="location.href='@Url.Action("Guardian_of_the_month_Home_attendant", "Home")'" /></font><br />
			</td>
		</tr>
	</table>
	<br />
	<table style="border:5px #009393" align="center" class="auto-style14">
		<tr>
			<td class="auto-style1" bgcolor="#9AE3DD">
				<font color="FFFFFF"face="標楷體"><span class="auto-style9"><strong>其他<br />
				</strong></span><br /><input type="image" src="../../images/員工申訴.png" class="auto-style3" onclick="location.href='@Url.Action("Employee_complaint_Home_attendant", "Home")'" /></font>
				<br />
			</td>
		</tr>
	</table>
	<div class="auto-style18">
	<br />
	<br />
	<br />
	<input type="image" src="../../images/離點打卡.png" onclick="location.href='@Url.Action("sign_out", "Home")	'" class="auto-style7" />
	</div>
</body>
</html>
