<html>
<head>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			text-align: center;
			font-size: large;
		}

		.auto-style2 {
			font-family: 標楷體;
			font-size: large;
		}
		.auto-style3 {
			width: 325px;
			height: 461px;
		}
		.auto-style4 {
			font-family: 標楷體;
			width: 102px;
			text-align: center;
		}
		.auto-style5 {
			width: 102px;
			height: 83px;
			text-align: center;
		}
		.auto-style6 {
			font-family: 標楷體;
			height: 83px;
			text-align: center;
		}
		.auto-style7 {
			font-family: 標楷體;
			width: 347px;
			height: 41px;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; width: 357px; height:812px;">
	<div class="auto-style1">
		<marquee direction="up" scrollamount="1" class="auto-style7">
			<font color="#ff0099">
				公告：8/18(六)辦理員工體檢，相關注意事項請查閱公告
			</font></marquee>
		<br />
		<br /><strong><span class="auto-style2">個案選擇班表
			</span></strong>
	</div>
	<br />
	<table border="3" align="center" class="auto-style3">
		<tr>
			<td bgcolor="#FFAF60" class="auto-style5">
				時間\日期
			</td>
			<td bgcolor="#FFAF60" class="auto-style6">
				周<br />
				一
			</td>
			<td bgcolor="#FFAF60" class="auto-style6">
				周<br />
				二
			</td>
			<td bgcolor="#FFAF60" class="auto-style6">
				周<br />
				三
			</td>
			<td bgcolor="#FFAF60" class="auto-style6">
				周<br />
				四
			</td>
			<td bgcolor="#FFAF60" class="auto-style6">
				周<br />
				五
			</td>
			<td bgcolor="#FFAF60" class="auto-style6">
				周<br />
				六
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				8之前
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				8-9
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				9-10
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				10-11
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				11-12
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				14-15
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				16-17
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFAF60" class="auto-style4">
				17之後
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
			<td bgcolor="#FFAF60" class="auto-style1">
				@Html.ActionLink("1", "Home_attendant_index", "Home")
			</td>
		</tr>

	</table>
</body>
</html>