@using Web_Phone.Models;
@{
	List<Case_informatio> case_s = ViewBag.case_s;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>督導-(開案)個案選擇頁</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		function pos(e){
			$.post('@Url.Action("Case_selection_page_Home_Service_Supervisor")',
				{ tip: e},
					function (result) {
						window.location.href = result;
					});
		}
		
	</script>
	<style type="text/css">
		.auto-style1 {
			font-family: 標楷體;
			text-align: center;
		}

		.auto-style2 {
			font-family: 標楷體;
			width: 410px;
			text-align: center;
			font-size: x-large;
		}

		.auto-style4 {
			font-family: 標楷體;
			width: 370px;
			height: 479px;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; ">
	<br />
	<table>
		<tr>
			<td class="auto-style2">
				<strong>個案選擇頁面</strong>
			</td>
		</tr>
	</table>
	<br />
	<table class="auto-style4" width: 410px; align="center">
		<tr>
			@foreach (Case_informatio case_ in case_s)
			{
				<td class="auto-style1" valign="top">
					<button class="btn btn-default btn-lg" onclick="pos('@case_.name');">@case_.name</button>
					@*@Html.ActionLink(@case_.name, "Case_basic_information_Home_Service_Supervisor", "Home", new { @class = "btn btn-default btn-lg" })*@
				</td>
			}
			<td class="auto-style1" valign="top">
				@Html.ActionLink("林XX", "Case_basic_information_Home_Service_Supervisor", "Home", new { @class = "btn btn-default btn-lg" })
			</td>
			<td class="auto-style1" valign="top">
				@Html.ActionLink("王XX", "Case_basic_information_Home_Service_Supervisor", "Home", new { @class = "btn btn-default btn-lg" })
			</td>
		</tr>
	</table>
	<div class="text-right">
		@Html.ActionLink("上一頁", "Home_Service_Supervisor_sign_index", "Home", new { @class = "btn btn-danger btn-lg" })
	</div>
</body>
</html>