<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>家屬主頁面</title>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">

		.auto-style2 {
			font-family: 標楷體;
			background-color: #0033CC;
		}

		.auto-style4 {
			font-family: 標楷體;
			width: 108px;
			height: 108px;
		}

		.auto-style5 {
			font-size: large;
			font-family: 標楷體;
			width: 360px;
			height: 574px;
		}

		.auto-style7 {
			width: 350px;
			font-size: large;
			font-family: 標楷體;
		}

		.auto-style8 {
			text-align: center;
		}

		.auto-style9 {
			font-size: small;
		}

		.auto-style11 {
			font-family: 標楷體;
			width: 75px;
			height: 75px;
		}

		.auto-style13 {
			font-size: large;
		}

		.auto-style14 {
			font-family: 標楷體;
			font-size: x-large;
			text-align: center;
		}

		.auto-style17 {
			font-family: 標楷體;
			font-size: large;
			text-align: left;
			height: 213px;
		}

		.auto-style18 {
			font-size: x-large;
		}
	</style>
</head>
<body style="background-color:#FAF4FF; ">

		<div class="auto-style8">

		<marquee direction="up" scrollamount="1" class="auto-style7"><font color="#ff0099">9/1(六)辦理家屬座談會，提供免費監測血糖、尿酸</font></marquee>
	<br />
	<br />
	<table class="auto-style5" align="center">
		<tr>
			<td align="center" rowspan="2" valign="bottom">
				<p>
					<font color="#0000EB"><strong><span class="auto-style18">家屬照顧<br />紀錄</span></strong></font>
				</p>
				<input type="image" src="~/images/家屬照顧紀錄icon.png" class="auto-style4" onclick="location.href='@Url.Action("Family_care_records", "Home")'" />
			</td>
			<td align="center" valign="bottom">
				<p>
					<font color="#0000EB"><strong><span class="auto-style18">照顧日誌</span></strong></font>
				</p>
				<input type="image" src="~/images/照顧日誌icon.png" class="btn auto-style4" onclick="location.href='@Url.Action("Daily_care_records", "Home")'" />
			</td>
			<td align="center" rowspan="2" valign="bottom">
				<p>
					<font color="#0000EB"><strong><span class="auto-style18">守護紀錄</span></strong></font>
				</p>
				<input type="image" src="~/images/守護紀錄icon.png" class="btn auto-style4" onclick="location.href='@Url.Action("Guardrecord", "Home")'" />
			</td>

		</tr>
		<tr>
			<td align="center" rowspan="2">
				<br />
				<input type="image" src="~/images/台灣佐伯克.png" class="btn auto-style11" onclick="location.href='@Url.Action("Familindex", "Home")'" />
				<br />
				<font color="#008A8A" size="5" class="auto-style9">
					<strong>
						<span class="auto-style13">台灣柏佐克<br />
				智慧型<br />居家照護管理系統</span>
					</strong>
				</font>
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="2" valign="top">
				<p>
					&nbsp;
				</p>
				<p>
					<font color="#0000EB"><strong><span class="auto-style18">照顧專欄</span></strong></font>
				</p>
				<input type="image" src="~/images/照顧專欄icon.png" class="btn auto-style4" onclick="location.href='@Url.Action("Carecolumn", "Home")'" />
			</td>
			<td align="center" rowspan="2" valign="top">
				<p>
					&nbsp;
				</p>
				<p>
					<font color="#0000EB"><strong><span class="auto-style18">給予回饋</span></strong></font>
				</p>
				<input type="image" src="~/images/給予回饋icon.png" class="btn auto-style4" onclick="location.href='@Url.Action("Give_feedback", "Home")'" />
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<p>
					&nbsp;
				</p>
				<p>
					<font color="#0000EB"><strong><span class="auto-style18">我有話要說</span></strong></font>
				</p>
				<input type="image" src="~/images/我有話要說icon.png" class="btn auto-style4" onclick="location.href='@Url.Action("Have_something_to_say", "Home")'" />
			</td>
		</tr>
	</table>
	<div class="auto-style8">
		<br />
		<br />
		<br />
	</div>
	<p class="auto-style14"><font color="#0000EB"><strong>本單位提供的服務內容有</strong></font></p>
	<div class="auto-style17">
	 <span class="auto-style18"><span class="auto-style2"><font color="FFFFFF"><strong>居家服務</strong></font> </span>&nbsp;<font color="#0000EB"><strong>-由專業醫療人員團隊所組<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 成。</strong></font><strong><br />
			</strong>
			<span class="auto-style2"><font color="FFFFFF"><strong>日間照顧 </strong></font></span>
			&nbsp;</span><font color="#0000EB"><strong><span class="auto-style18">-提供像家的托老所、每月<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 費用不到萬元。</span></strong></font></div>
	</div>
	<div class="text-right">
		@Html.ActionLink("登出", "Login", "Home", new { @class = "btn btn-danger btn-lg" })
	</div>
</body>
</html>